* {
	maring: 0;
	padding: 0;
}

.hide {
	display: none;
}

body {	
	font-size: 100%;
	margin: 15px;
	background: rgb(130, 202, 247);
	color: rgb(211, 108, 108);
}

/*guzik nowej notatki*/
#controls img {
	width: 40px;
	height: 40px;
	background: rgba(0, 0, 0, 0);
}

/*animacja guzika nowej notatki*/
#controls img:hover, #controls img:focus {
	-webkit-transform: scale(1.2);  
  	-moz-transform: scale(1.2);  
  	-o-transform: scale(1.2);  
  	position:relative;
}

/*wyglad notatki*/
ul, li {
	list-style: none;
}

ul {
	overflow: hidden;
	padding: 15px;
}

ul li {
	margin: 15px;
	float: left;
	position: relative;
}

ul li div {
	text-decoration: none;
	color: #000;
	background: #ffc;
	display: block;
	height: 170px;
	width: 150px;
	padding: 10px;

	border-style: solid;
}

ul li div img {
	padding: 1px 3px;
	margin: 10px; 
	position: absolute; 
	top: 0; 
	right: 0;
}

ul li textarea {
	font-family: 'Chewy', arial, sans-serif;
	background: rgba(0, 0, 0, 0); /*bezbarwne tlo pod tekstem*/
	resize: none;
	padding: 3px;
	border-style: none;
}

.note-title {
	font-size: 140%;
	font-weight: bold;
	height: 30px;
	width: 70%;
}

.note-content {
	font-size:120%;
	height: 100px;
	width: 95%;
}

ul li:nth-child(even) div {  

  position:relative;  
  top:5px;  
}

ul li:nth-child(3n) div {  

  position:relative;  
  top:-5px;  
}

ul li:nth-child(5n) div {  

  position:relative;  
  top:-10px;
}

 /* kolory notatek */
ul li div.colour1 {
	background: #ffc;
}
ul li div.colour2 {
	background: #cfc;
}
ul li div.colour3 {
	background: #ccf;
}